*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root{
    --bg-color: #56baed;
    --text-color: #fff;
    font-size: 62.5%
}

body{
    height: 100vh;
    width: 100vw;
    background-color: var(--bg-color);
    font-size: 1.6rem;
}

table{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.field{
    width: 12rem;
    height: 12rem;
    background-color: #fff;
    border-radius: .5rem;
    text-align: center;
    font-size: 3rem;
    color: #56baed;
    font-weight: bolder;
}

.field:hover{
    cursor: pointer;
}